.logo_place_footer {

  height: 35px;

  /*as i understand,  per reviewer comment, there is height overflow - icannot see it in FF or Chrome, but added for possible browser*/
   max-height: 35px;

   background-image: url(../../../images/logo_place_footer.svg);
}
