/* page and shared styles */
/* clear browser defaults*/
* {
  box-sizing: border-box;
}

body, h1, h2, h3, h4, p, a {
  margin: 0;
  font-size: 100%;
  font-weight: normal;
}

.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.flex-row {
}

.flex-row_theme_transparent {
  background-color: none;
  color: #000;
}

.flex-row_theme_light {
  background-color: #f2f2f2;
  color: #000;
}

.flex-row_theme_dark {
  background-color: #1f1f1f;
  color: white;

}

/* mics */
.text-front {
  z-index: 11;
}

/* shared blocks*/

.figure {
  background-color: #2f80ed;
}

.figure-square {

}

.link {
  text-decoration: none;
}
.link_color_light {
  color: white;
}

.link_color_accent {
  color: #2f80ed;
}

.link-arrow:after {
  content: "→";
}

.logo {
  width: 183px;
  height: 32px;
}

.logo__image {
  width: 100%;
  height: 100%;
}

.logo_place_header {
  top: 30px;
}

.logo_place_footer {

}

.social-icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  width: 16px;
  height: 16px;
}

.social-icon_vk {
  background-image: url("../images/vk_color_white.svg");
}

.social-icon_facebook {
  background-image: url("../images/facebook_color_white.svg");
}

.social-icon_instagram{
  background-image: url("../images/instagram_color_white.svg");
}

/* header */
.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
}

.header__container {
  position: relative;
  height: 100%;
  top: 0;
}

.header__item {
  position: absolute;
}

.header__item_space_left {
  left: 64px;
}

.header__item_space_top_s {
  bottom: 30px;
}

.header__item_space_top_m {
  bottom: 64px;
}

.header__item_space_right_none {
  right: 0;
}

.header__item_space_bottom_none {
  bottom: 0;
}

.header__item_space_bottom_s {
  bottom: 30px;
}

.header__item_align_center {
  height: 100%;
  display: flex;
  align-items: center;
}

.header__title {
  width: 730px;
  font-size: 102px;
  line-height: 96px;
  font-weight: bold;
}

.header__subtitle {
  width: 388px;
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
}

.header__link {

}

.header__main-illustration {
  width: 765px;
  height: 608px;
  z-index: 1;
}

.header__square-pic {
  height: 568px;
  width: 568px;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

/*content*/
/* content description */
.two-columns {
  display: flex;
}

/* content digits */

/* content feynman */

/* content kaufman */


/* footer */
.footer {
  min-height: 350px;
}

.footer_inner_space_top {
  padding-top: 60px;
}

.footer_inner_space_bottom {
  padding-bottom: 40px;
}

.footer__columns {
  height: 100%;

  display: flex;
  justify-content: space-between;
}

.footer__column {

}

.footer__column_content_copyright {
  flex-basis: 711px;
  flex-grow: 2;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__column_content_copyright_space_left {
  margin-left: 30px;
}

.footer__column_content_info {
  flex-grow: 1;
  align-self: flex-end;
}

.footer__column_content_social {
  flex-grow: 1;
  align-self: flex-end;
}

.footer__author {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__author_space {
  margin: 18px 0;
}

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
}

.footer__column-links {
  display: flex;
  flex-direction: column;
  margin: 20px 0 16px;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-link {
  text-decoration: none;
}

.footer__social-icon {
  margin-left: 10px;
}
