/* page and shared styles */

.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;

  box-sizing: border-box;

  margin: 0;
  font-size: 100%;
  font-weight: normal;

  display: flex;
  flex-direction: column;
}

.layout-row_theme_transparent {
  background-color: none;
  color: #000;
}

.layout-row_theme_light {
  background-color: #f2f2f2;
  color: #000;
}

.layout-row_theme_dark {
  background-color: #1f1f1f;
  color: white;
}

.layout-row_inner_space_top_xl {
  padding-top: 100px;
}

.layout-row_inner_space_bottom_xl {
  padding-bottom: 100px;
}

.layout-row_inner_space_top_l {
  padding-top: 90px;
}

.layout-row_inner_space_bottom_l {
  padding-bottom: 90px;
}

.layout-row_inner_space_top_m {
  padding-top: 60px;
}

.layout-row_inner_space_bottom_s {
  padding-bottom: 40px;
}

/* shared blocks*/

.logo {
  width: 183px;
  height: 32px;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;

}

/* section */
.section-title {
  width: 60%;
  text-align: center;
  font-size: 60px;
  line-height: 1.15;
  font-weight: bold;
}

.section-title_center {
  margin: 0 auto;
}

.section-subtitle {
  width: 60%;
  text-align: center;
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
}

.section-subtitle_space_top_xxs {
  margin: 20px auto 0;
}

/*table*/
.table {
  width: 1100px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.table_align_center {
  margin: 0 auto;
}

.table__cell_size_m {
  width: 250px;
}

.table__cell_size_s {
  width: 200px;
}

.table__cell_space_top_m {
  margin-top: 60px;
}

.table__cell_space_top_l {
  margin-top: 80px;
}

.table__heading {
  font-size: 24px;
  line-height: 1.15;
  font-weight: bold;

  display: relative;
  z-index: 17;
}

.table__heading_space_bottom_xxs {
  margin-bottom: 20px;
}

.table__text {
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;

  display: relative;
  z-index: 17;
}

.table__text +.table__text {
  margin-top: 20px;
}
/* и элемента с модификатором вида ключ-значение */
/*.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}*/

/* header */
.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */

  position: relative;

  display: flex;
  align-items: center;

  overflow: hidden;
}

.header__title {
  width: 730px;

  position: absolute;
  left: 64px;

  z-index: 17;

  font-size: 102px;
  line-height: 96px;
  font-weight: bold;
}

.header__subtitle {
  width: 388px;

  position: absolute;
  left: 64px;
  bottom: 30px;

  z-index: 17;

  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.header__link:after {
  content: "→";
}

.header__main-illustration {
  width: 765px;
  height: 608px;

  position: absolute;
  bottom: 0;
  right: 0;

  z-index: 1;
}

.header__square-pic {
  height: 568px;
  width: 568px;

  background-color: #2f80ed;

  position: absolute;
  top: 64px;
  right: 0;
}

/*content*/
/* content description */
.two-columns {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.two-columns_align_center {
  margin: 0 auto;
}

.two-columns__brief {
  width: 175px;
  margin: 0;
  color: #2f80ed;

  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  font-size: 24px;
  line-height: 34px;
}

.two-columns__paragraph+.two-columns__paragraph {
  margin-top: 30px;
}

.two-columns__span-accent {
  font-weight: bold;
}

/* content digits */

/* content feynman */
.feynman {
  background-image: url("../images/feynman.png");
  background-repeat: no-repeat;
  background-position: bottom left;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.feynman_height_l {
  height: 890px;
}

.feyman_background_size_l {
  background-size: 867px 637px;
}

.feynman__title {
  line-height:  1.15;
  font-size: 120px;
  font-weight: bold;

  text-align: center;
}

.feynman__title_width_l {
  width: 648px;
}

.feynman__title_space_top_xl {
  margin: 100px auto 0;
}

.feynman__subtitle {
  font-size: 36px;
  line-height: 51px;
  font-weight: normal;

  text-align: center;
}

.feynman__subtitle_space_m {
  margin: 70px auto 0;
}

.feynman__link {
  text-decoration: none;
  color: #2f80ed;

  font-size: 36px;
  line-height: 51px;
  font-weight: normal;
}

.feynman__link:after {
  content: "→";
}

.feynman__link_space_top_half {
  position: absolute;
  top: 50%;
  right: 48px;
}

/* content kaufman */
.kaufman {
  position: relative;
  overflow: hidden;
}

.kaufman__triangle {
  width: 877px;
  height: 877px;
  position: absolute;
  top: 0;
  right: -210px;
  background-image: url("../images/kaufman-triangle.svg");
  background-size: cover;
}


/* footer */
.footer__columns {
  min-height: 250px;
  width: 90%;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.footer__column {
  display: flex;
  flex-direction: column;

}

.footer__column_content_copyright {
  flex-basis: 711px;

  justify-content: space-between;
}

.footer__author {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__author_space {
  margin: 18px 0;
}

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
}

.footer__column-links {
  display: flex;
  flex-direction: column;
  margin: 20px 0 16px;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-link {
  text-decoration: none;
  color: white;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 10px;
}

.footer__social-icon_type_facebook {
  background-image: url("../images/facebook_color_white.svg");
}

.footer__social-icon_type_vk {
  background-image: url("../images/vk_color_white.svg");
}

.footer__social-icon_type_instagram {
  background-image: url("../images/instagram_color_white.svg");
}
